
<div class="main-panel">
    <div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark bgm">
            <!-- Brand/logo -->
            <div class="col-md-6">
            <a class="navbar-brand" routerLink="">
              <img src="../assets/toppng.com-awesome-download-hd-pokemon-logo-png-image-pokemon-pokemon-logo-1182x442.png" alt="logo" style="width:190px;">
            </a>
    </div>
    <div class="col-md-6">
          
    <!-- Links -->
            <ul class="navbar-nav nas">
              <li class="nav-item">
                <a class="nav-link" routerLink="pokelist/pokelist">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" >AboutUs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" >Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="pokelist">Poke list</a>
              </li>
            </ul>
    </div>
    </nav>
    </div>
    
 <a routerLink="pokelist"><img class="image" src="../../../assets/Untitled-1.png" ></a>
<router-outlet></router-outlet>
</div>
